.Message {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &--container {
        margin-left: auto;
        text-align: right;
        &.is-remote {
            margin-left: 0;
            margin-right: auto;
            text-align: left;
        }
    }
}