.Button {
    $block: &;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: $helvetica;
    cursor: pointer;
    transition: {
        property: color, background-color, box-shadow;
        duration: $duration;
        timing-function: $ease-out;
    }

    &--clear {
        padding: 1rem 0;
        background-color: transparent;
        color: $blue;

        &:hover,
        &:focus {
            color: $blue;
            text-decoration: underline;
        }

        &:active {
            color: $blue;
        }
    }

    &--solid {
        padding: .5rem .5rem;
        background-color: $background;
        color: $grey-dark;
        border-color: $grey-dark;
        border-radius: 2rem;

        &:hover,
        &:focus {
            background-color: $grey-dark;
            color: $white;
        }

        &:active {
            background-color: $blue;
            background-color: $grey-dark;
            color: $white;
        }
    }
}
