.ButtonContainer {
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-top: 0;
    white-space: normal;
    overflow-y: visible;
}

.Button {
    $block: &;
    display: block;
    margin-bottom: $message-spacing-thin;
    width: 100%;
    padding: $message-padding;
    border: none;
    text-align: left;
    text-decoration: none;
    font-family: $helvetica;
    font-weight: 600;
    cursor: pointer;

    &:last-child {
        margin-bottom: 0;
    }

    transition: {
        property: color, background-color, box-shadow;
        duration: $duration;
        timing-function: $ease-out;
    }

    &--clear {
        padding: 1rem 0;
        background-color: transparent;
        color: $blue;

        &:hover,
        &:focus {
            color: $blue;
            text-decoration: underline;
        }

        &:active {
            color: $blue;
        }
    }

    &--solid {
        background-color: $white;
        font-size: inherit;
        color: $grey-dark;

        &:hover,
        &:focus {
            background-color: $grey-dark;
            color: $white;
        }

        &:active {
            background-color: $blue;
            background-color: $grey-dark;
            color: $white;
        }
    }
}
