.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: 300ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0.01;
}

.fade-appear {
    transform: rotateY(90deg) rotateZ(20deg);
    transform-origin: 0% 0%;
}

.fade-appear.is-local {
    transform: rotateY(90deg) rotateZ(-20deg);
    transform-origin: 100% 0%;
}

.fade-appear.fade-appear-active {
    transform: rotateY(0deg) rotateZ(0deg);
    transition: 350ms ease;
}
