.MessagesList {
    padding: 0;
    margin: 0;
    list-style: none;

    &-item {
        position: relative;
    }

    &-messageItem {
        margin-left: $avatar-size;
        margin-bottom: $message-spacing-small;
        border-radius: $message-border-radius;
        overflow: hidden;
    }
}
