// COLORS:
// First, give them names, I don’t speak hex
// http://chir.ag/projects/name-that-color/

// // Now use them for stuff
// $eigengrau: #16161d;
// $tundora: #4a4a4a;
// $aluminium: #a9acb6;
// $mishka: #d2d5dc;
// $concrete: #f2f2f2;
// $azure-radiance: #0084ff;
// $buttercup: #f5a623;
// $sushi: #8ec63f;
// $monza: #d0011b;


// $white: #ffffff;
// $black: $eigengrau;
// $off-white: $concrete;
// $grey-light: $mishka;
// $grey: $aluminium;
// $grey-dark: $tundora;

// $blue: $azure-radiance;
// $green: $sushi;
// $yellow: $buttercup;
// $red: $monza;

// $info: $blue;
// $success: $green;
// $warning: $yellow;
// $error: $red;
// $background: $off-white;






// // FONTS
// $font-small: 16px;
// $font-medium: 22px;
// $font-large: 30px;
// $title-font: 18px;
// // stylelint-disable-next-line value-keyword-case
// $helvetica: Helvetica, sans-serif;

// // SPACING
// $message-border-radius: 1.5em;
// $message-border-radius-large: 0.625em;

@use "sass:math";
@use './_variables.scss' as *;
@use '../../../node_modules/slick-carousel/slick/slick.scss' as *;
@use './_animations.scss';
@use './_containers.scss';
@use './_message-list.scss';
@use './components/Avatar/_avatar.scss';
@use './components/Button/_button.scss';
@use './components/Input/_input.scss';
@use './components/Image/_image.scss';
@use './components/Menu/_menu.scss';
@use './components/Text/_text.scss';
@use './components/Carousel/_carousel.scss';
@use './components/List/_list.scss';
@use './components/TypingIndicator/_typing-indicator.scss';



%chatWidth {
    width: 100%;
    max-width: 100%;
    margin: {
        left: auto;
        right: auto;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}




