.Text {
    //FIXME: this is necessary because this module can be namespaced. find cleaner solution
    $blockName: 'Text';
    display: inline-block;
    width: 100%;
    padding: $message-padding;
    background-color: $white;
    white-space: pre-line;
    font-family: $helvetica;
    margin: {
        bottom: $message-spacing-thin;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &--transparent {
        background-color: transparent;
        color: $white;
    }

    & h1 {
        font-size: rem(32);
    }

    & h2 {
        font-size: rem(26);
    }

    & h3 {
        font-size: rem(18);
    }

    &-small {
        font-size: rem(14);
        opacity: 0.8;
    }

    &.is-local {
        width: auto;
        border-radius: $message-border-radius;
        border-bottom-right-radius: 0;
        background-color: $grey-dark;
        color: $white;
    }
}
