.AvatarStatus {
    position: absolute;
    top: 0;
    width: $avatar-size;
    margin-left: -7px;

    &-avatar {
        width: $rhythm * 6;
        height: $rhythm * 6;
    }

    &-status {
        position: absolute;
        top: $rhythm * 4;
        left: $rhythm * 4;
    }

    &--collapsed {
        width: 24px;
        height: 24px;
    }
}

.Avatar {
    display: block;
    width: 100%;
    height: 100%;
    border: {
        width: 0;
        radius: 50%;
    }
    color: $grey-dark;
    object-fit: cover;

    &:not([src]) {
        background-color: $grey-dark;
    }
}

.StatusIndicator {
    $width: $rhythm * 2;
    $border-width: $rhythm / 3 * 2;
    width: $width + $border-width * 2;
    height: $width + $border-width * 2;
    margin: -$border-width;
    border: {
        width: $border-width;
        color: $background;
        style: solid;
        radius: ($width + $border-width * 2) / 2;
    }
    transition: {
        property: background-color;
        duration: $duration;
        timing-function: $ease-in;
    }
    background-color: $grey;

    &--online {
        background-color: $green;
    }

    &--offline {
        background-color: $red;
    }

    &--typing {
        background-color: $yellow;
    }

    &--thinking {
        background-color: $blue;
    }
}
