.Image {
    display: block;
    width: 100%;
    max-height: 50%;
    background-color: $white;
    overflow: hidden;

    &-image {
        display: block;
        object-fit: cover;
        width: 100%;
        object-position: center;
    }

    &-text {
        margin: 0;
        padding: $message-padding;
        font-family: $helvetica;
    }

    &-loader {
        position: relative;
        background-color: $grey-light;
    }

    &-loaderIcon {
        display: block;
        position: absolute;
        top: 36%;
        left: 0;
        right: 0;
        width: 4rem;
        height: 4rem;
        margin: 0 auto;
    }

    &:only-child {
        border-radius: $message-border-radius;
    }
}
